<h1>New Comment</h1>
<%= form_for @comment, url: character_comments_path, method: :post do |t| %>
  <%= t.label :add_your_comment %>
  <%= t.text_field :name %>
  <%= t.submit "Add Your Comment!" %>
<% end %>
