<h3><%= link_to "Sign Up", new_user_path %> or <%= link_to "Log In", login_path%></h3>
<%= image_tag "mtg_cards.png", :alt => "music the gather cards.", style: "height: 700px; width: 800px;", class: "center-image"%>
