
<% if @songs.length > 0 %>
  <% @songs.each do |song| %>
  <li> <%= song.characters.sum(&:character_count) %> characters know <%= link_to song.name, song_path(song) %></li>
  <% end %>
<% else %>
<button><%= link_to "Go Back", songs_path%></button>
<% end %>
