<h1>Songs and Tunes</h1>

<h2>Tunes (Instrumental)</h2>
<% @songs.each do |song| %>
  <% if song.category == "Tune" %>
    <li><%= link_to song.name, song_path(song)%></li>
  <% end %>
<% end %>

<h2>Songs (Vocal and/or Comedy)</h2>
<% @songs.each do |song| %>
  <% if song.category == "Song" %>
    <li><%= link_to song.name, song_path(song)%></li>
  <% end %>
<% end %>
<h2><%= link_to "Most Well known songs", "/most_well_known" %></h2>
