<h1><%= @song.name %></h1>
<h4><i><%= @song.category %></i></h4>
<h3>Characters who know this song:</h3>
<% @song.characters.each do |character| %>
  <%= character.name %><br>
<% end %>
<%= button_to "Delete", song_path(@song), :method => "delete" %>
<h3><a href="/songs", class="navbar-brand" id="songs-index">All Songs</a></h3>
