/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background: #111;
  padding-top: 10px;
  padding-bottom: 30px;
  color: #f00;
  font-family: fantasy;
  background-image: url("Hi Def Light Tree Border.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.center {
  text-align: center;
}

.pic,
.info {
  padding: 20px;
  display: inline-block;
  background-color: #eeeeee;
  border-radius: 7px;
  vertical-align: middle;
  margin: 10px;
}

.info {
  height: 290px;
  text-align: left;
}

#nav a {
      background: white;
      height: 28px;
      width: 130px;
      font-family: "Book Antiqua";
      font-size: 20px;
      text-align: center;
      color: #C60;
      text-decoration: none;
      background-position: left;
      margin: auto;
      display: inline-block;
      position: relative;
  }

  .wrapper {
  background: #ffd700;
  opacity: 0.8;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  margin: 10px auto;
  max-width: 700px;
  padding: 1.25%; /* 18px / 800px */
  width: 85%;
  text-align: center;
  image-orientation: center;
}

h1 {
  font-size: 32px
}

h2 {
  font-size: 28px
}

h3 {
  font-size: 24px
}

h4 {
  font-size: 18px
}

.branding {
    border-top: 2px solid #ccc;
    background: #ffd700;
    opacity: 0.8;
    margin-top: 20px;
    padding-top: 0px;
    text-align: center;
    margin: auto;
    width: 52%;
  }
